{% extends "base.html" %}
{% load static %}


{% block content %} 
<!--ESTO ES MI PERFIL PERSONAL DE ALUMNO-->

         <div class="container">

  <p><strong>Tip:</strong> si usted lleno mal los datos de registro,  tendra que enviar un correo a jefatura para poder hacer una modificacion de sus datos personales:</p>
  
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">NUMERO DE CONTROL :    13244550  </a>
    <a href="#" class="list-group-item list-group-item-action"> NOMBRE:              Rodulfo  </a>
    <a href="#" class="list-group-item list-group-item-action">APELLIDO:  Vázquez Pérez  </a>
    <a href="#" class="list-group-item list-group-item-action">EDAD: 27  </a>
    <a href="#" class="list-group-item list-group-item-action">SEXO: HOMBRE  </a>
    <a href="#" class="list-group-item list-group-item-action">EMAIL: rodu21@gmail.com    </a>
    <a href="#" class="list-group-item list-group-item-action">SEMESTRE:  9  </a>
    
  </div>
</div>


{% endblock %}